.list {
  height: 100vh;
  overflow: auto;
  padding-right: 3px;
  font-size: 0.9em;
}

.list .badge {
  min-width: 1.5rem;
  margin-left: 2px;
  font-size: 0.8em;
}

.list .badgeInvisible {
  min-width: 1.5rem;
  margin-left: 2px;
  visibility: hidden;  
}

.contentType{
  margin-left: 6px;
}

.fileViewer {
  height: 100vh;
  overflow: auto;
  padding-right: 3px;
}

.topRow {
  margin-bottom: 0;
  border-bottom: solid 1px #ffffff;
}

.numbers {
  font-size: 0.95em;
}